<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>666118574380-atb8iul6ukhosh5q2l7le4naj1ug673d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666118574380-atb8iul6ukhosh5q2l7le4naj1ug673d</string>
	<key>API_KEY</key>
	<string>AIzaSyC0dLGe1hF4qIJiQprg-9b4WEUBMUYiMHg</string>
	<key>GCM_SENDER_ID</key>
	<string>666118574380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeking.p2pchat</string>
	<key>PROJECT_ID</key>
	<string>p2pchat-2ac7a</string>
	<key>STORAGE_BUCKET</key>
	<string>p2pchat-2ac7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:666118574380:ios:e78589d99e2dd989</string>
	<key>DATABASE_URL</key>
	<string>https://p2pchat-2ac7a.firebaseio.com</string>
</dict>
</plist>